@import url(reset.css);

body {
    background-color: #ffffff;
}

.container {
    height: 1310px;
    width: 1000px;
    margin: 0 auto;
    padding: 0 45px;
}

/*-- topnav menu --*/

.topnav {
    height: 54px;
    position: relative;
}

.phone {
    color: #5e686c; /* text color */
    font-family: "Arial";
    font-size: 19px;
    float: left;
}

.phone::before {
    content: "";
    background-image: url("/img/phone.png");
    height: 18px;
    width: 13px;
    position: absolute;
    display: block;
    left: 11px;
    top: 23px;
    z-index: 1;
}

.phone p {
    position: relative;
    padding-left: 31px;
    padding-top: 23px;
}

.phone p::before {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    left: 7px;
    top: 22px;
    z-index: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #f10000; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMTE0MTY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIzMTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
}

.autorize {
    height: 25px;
    width: 495px;
    float: left;
    margin-top: 19px;
    margin-left: 16px;
    padding-left: 21px;
    position: relative;
    -moz-border-radius: 4px / 3px;
    -webkit-border-radius: 4px / 3px;
    border-radius: 4px / 3px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #b1bbbf; /* layer fill content */
    -moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
    -webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
    box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMTE0MTY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIzMTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
    background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
}

form {
    float: left;
}

form::before {
    height: 17px;
    width: 13px;
    content: "";
    position: absolute;
    display: block;
    left: 8px;
    top: 4px;
    background-image: url("/img/autorize.png");
}

input {
    height: 16px;
    width: 113px;
    margin-top: 3px;
    margin-left: 5px;
    color: #97a1a5; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
}

.login {

}

.login li {
    display: inline;
    float: left;
    padding: 2px 6px;
}

.login hr {
    height: 10px;
    width: 2px;
    display: inline;
    float: left;
    margin-top: 7px;
    margin-left: -2px;
}

.login a {
    text-decoration: none;
    color: #fff; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
}

.login a:hover {
    color: #bfbfbf; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
    text-decoration: underline;
}

.lostpass {
    float: right;
    margin: 2px 10px;
    letter-spacing: 0.5px;
}

.lostpass a {
    text-decoration: none;
    color: #fff; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
}

.lostpass a:hover {
    color: #bfbfbf; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
    text-decoration: underline;
}

.navi {
    height: 21px;
    width: 77px;
    float: right;
    margin-top: 19px;
    margin-right: 6px;
    border: 1px solid #bdc3c7; /* stroke */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=24, Direction=135, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 1px 1px 24px rgba(0,0,0,0.5);/*FF 3.5+*/
    -webkit-box-shadow: 1px 1px 24px rgba(0,0,0,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=24, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.navi ul {
    margin: 1px 6px;
}

.navi ul li {
    display: inline-block;
    cursor: pointer;
}

.navi ul li:hover {
    background-color: #b1bbbf;
}


.home {
    height: 17px;
    width: 17px;
    background-image: url("/img/navi.png");
    background-position: 0 0;
}

.sitemap {
    height: 17px;
    width: 17px;
    background-image: url("/img/navi.png");
    background-position: 34px 0;
}

.mail {
    height: 17px;
    width: 17px;
    background-image: url("/img/navi.png");
    background-position: 17px 0;
}

/*-- header --*/

header {
    height: 237px;
    width: auto;
    background-image: url("/img/header.jpg");
}

.mainmenu {
    height: 32px;
    margin-top: 7px;
    list-style-type: none;
    border: 1px solid #0c1542; /* stroke */
    -moz-border-radius: 6px / 4px;
    -webkit-border-radius: 6px / 4px;
    border-radius: 6px / 4px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
    box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU2NWY2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
}

.mainmenu ul {
    margin-left: 137px;
}

.mainmenu li {
    display: inline-block;
    padding: 7px 10px;
    height: 26px;
    margin-top: 2px;
    padding-top: 5px;
}

.mainmenu a {
    display: inline-block;
    color: #949ea1; /* text color */
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    text-decoration: none;

}

.mainmenu li:hover {
    color: white;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #f60202; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMTE0MTY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIzMTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
    background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
    background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
}

.mainmenu a:hover {
    color: white;
}

.searchmenu {
    height: 134px;
    margin-top: 13px;
    background-color: brown;

}

.leftmenu {
    height: 625px;
    width: 190px;
    float: left;
    margin-top: 15px;
    background-color: #0c1542;
}

.content {
    height: 625px;
    width: 530px;
    float: left;
    margin-top: 15px;
    margin-bottom: 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNGE1ZCIgc3RvcC1vcGFjaXR5PSIwLjQ5Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M5Y2ZkMSIgc3RvcC1vcGFjaXR5PSIwLjQ5Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */

}

.rightmenu {
    height: 625px;
    width: 190px;
    float: left;
    margin-top: 15px;
    background-color: #0c1542;
}

.brand {
    height: 75px;
    background-color: brown;
    clear: both;
}

footer {
    height: 99px;
    border: 1px solid #24293c; /* stroke */
    background-color: #213a4d; /* layer fill content + color overlay */
    border-radius: 2px;
    margin-top: 12px;
    clear: both;
}